html {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(61, 61, 67);
    font-size: 20px;
}

.canvas-container {
    display: flex;
    width: 80vw;
    height: 80vh;
    border: 2px solid black;
    margin: 25px auto; /* top right bottom left */ 
}

#drawing-board {
    height: 100%;
    width: 80%;
    background-color: white;
}

#dm-chat {
    text-align: center;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5%;
    display: block;
    align-items: center;
    justify-content: center;
    color: white;
}

.user-table {
    height: 100%;
    width: 20%;
    background-color: grey;
    font-size: 1.5rem;
    text-align: center;
}